<html>
    <head>
        <title>Control de usuarios</title>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1>Disney+. Las mejores series y peliculas</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <h4>Primer actividad de la unidad 4: Enrique de la Peña Navarro</h4>
        </footer>
    </body>
</html>