@{ 
    Layout = "_Layout";
}
<h3>Bienvenido a Disney+ ¿que desea hacer a continuacion</h3>

<div>
    <a href="~/Home/IniciarSesion">
        <input type="button" value="Iniciar Sesión" />
    </a>
    <a href="~/Home/RegistrarCuenta">
        <input type="button" value="Registrarse" />
    </a>
</div>