@{
    Layout = "_Layout";
}

<h3>Recuperar Contraseña</h3>

<form method="post" action="~/Home/RecuperarContraseña">
    <label>Correo electronico:</label>
    <input type="email" required name="correo" /><br />
    <input type="submit" value="Recuperar Contraseña" />
    @Html.ValidationSummary()
    <p>Se enviara una contraseña temporal a tu correo electronico</p>
</form>