
@{
    Layout = "_Layout";
}

<h3>Pestaña inicial, inicie sesion para realizar sus actividades</h3>
<div>
    <a href="~/Home/IniciarSesion">
        <input type="button" value="Inicie sesion como director" />
    </a>
    <a href="~/Home/IniciarSesion2">
        <input type="button" value="Inicie sesion como profesor" />
    </a>
</div>