@model Actividad2_ActividadDocentes.Models.Director
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h3>Inicio de sesion para el director</h3>
<form method="post" action="~/Home/IniciarSesion">
    <label>Clave del director</label>
    <input type="number" asp-for="Clave" required id="clave"/> <br />
    <label>Contraseña</label>
    <input type="password" asp-for="Contrasena" required /> <br />
    <input type="submit" value="Iniciar sesion" /> <br />
</form>
<p>
    @Html.ValidationSummary()
</p>