<html>
<head>
    <title>Control de usuarios</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Instituto Tecnologico de Estudios Superiores de la Región Carbonifera</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <h3>Segunda actividad de la unidad 4: Enrique de la Peña Navarro</h3>
    </footer>
</body>
</html>